@charset "utf-8";

/* common */

body {
  margin: 0;
}
h1 {
  margin: 0;
  font-size: 0;
  
}

img {
  vertical-align: bottom;
}

a {
  margin: 0;
  text-decoration: none;
  color: #fff;
  background: green;
  border-radius: 8px;
  padding: 8px 16px;
}

/* header */

header {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}